{% load staticfiles i18n %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en" ng-app="finhacks">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}finhack_bca{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap4.min.css' %}">

    <!-- Your stuff: Third-party css libraries go here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- This file store project specific CSS -->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}

    {% block angular %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    {% endblock %}

  </head>

  <body>

    <div class="m-b">
      <nav class="navbar navbar-light navbar-static-top" style="background-color: white;">
        <div class="container">
          <a class="navbar-brand" href="/">SiDoKu</a>
          <button type="button" class="navbar-toggler hidden-sm-up pull-xs-right" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
            &#9776;
          </button>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-toggleable-xs" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="nav-item {% ifequal request.path '/'%} active {% endifequal%}">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item {% ifequal request.path '/daftar-toko/'%} active {% endifequal%}">
                <a class="nav-link" href="{% url 'list_toko' %}">Supported stores</a>
              </li>
              <li class="nav-item {% ifequal request.path '/daftar-counter/'%} active {% endifequal%}">
                <a class="nav-link" href="{% url 'list_counter' %}">Lokasi counter</a>
              </li>
              <li class="nav-item {% ifequal request.path '/developer/'%} active {% endifequal%}">
                <a class="nav-link" href="{% url 'developer' %}">Integrasi (untuk developer)</a>
              </li>
            </ul>

            <ul class="nav navbar-nav pull-xs-right">
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'list_counter' %}">Saldo : IDR {{ request.user.balance|intcomma }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link username-navbar" href="{% url 'users:detail' request.user.username  %}">{{ request.user.username }}</a>
                </li>
                <li class="nav-item {% ifequal request.path '/accounts/logout/'%} active {% endifequal%}">
                  <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                </li>
              {% else %}
                <li class="nav-item {% ifequal request.path '/accounts/signup/'%} active {% endifequal%}">
                  <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                </li>
                <li class="nav-item {% ifequal request.path '/accounts/login/'%} active {% endifequal%}">
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Log In" %}</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>

    {% block bgimage %}
    {% endblock bgimage %}

    <div class="container">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

      <!-- Tether - a requirement for Bootstrap tooltips -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script type="application/javascript" src="{% static 'js/bootstrap4.min.js' %}"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->

      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
      <link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
      <link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
      <script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
      <script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
      <script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
      <script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>
    {% endblock javascript %}
  </body>
</html>
 
